@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

::selection {
  background: #00c9b7;
  color: #fff;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ffff00 0%, #05c1ff 50%, #ffff00 100%);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #0e1525;
}

.active {
  background: #000 !important;
}
